page-landing {
  .toolbar-background-md {
    background-color: #0d47a1;
  }
  .toolbar-title-md {
    color: #fff !important;
    margin-right: 15% !important;
  }
  .itemStyle {
    box-shadow: 1px 1px 5px -2px #42a5f5;
  }
  .decoration {
    width: 100%;
    border: 0.5px solid #c4c4c4;
  }
}
